* {
    background-color: beige;
}

.odin-recipe{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    background-color: blanchedalmond;
}

.recipe-meny{
    background-color:rgb(175, 113, 31);
    text-align: center;
    font-size: x-large;
}

.recipe-title{
    background-color: bisque;
}

.picture img {
    display: block;
}